<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RequestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>750C2F971F666DFC00A45297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>750C2FB31F666DFD00A45297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>750C2FBE1F666DFD00A45297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
